<nav class="navbar navbar-dark bg-dark">
  <div class="row">
    <div class="col-3">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-9">
      <a class="navbar-brand pull-left" href="#">Appian Dashboard</a>
    </div>
  </div>
</nav>
