<div class=" row">
    <div class="col-12 pull-left">
        <div class="tabs-container">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li *ngFor="let tab of  (tabs$ | async );index as i   " [ngbNavItem]="i" (click)="tabChange(tab)">
                    <a ngbNavLink>
                        {{ tab.name + (i+1)}}
                        <span *ngIf="tab.index!=0" (click)="close($event, tab.index,i)">
                            <i class="bi bi-x"></i></span>
                    </a>
                    <ng-template ngbNavContent *ngIf="tab.isChartAdded">
                        <div class="">
                            <app-bar-chart [tab]="tab"></app-bar-chart>
                        </div>
                    </ng-template>
                    <ng-template ngbNavContent *ngIf="!tab.isChartAdded">
                        <br>
                        <br>
                        <br>
                        <p>{{tab.defaultMessage}}</p>
                        <button class="btn btn-success btn-large float-button" (click)="addChartClick(this.tab,i)">
                            <i class="bi bi-plus-circle-fill"></i>
                        </button>
                    </ng-template>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href (click)="add($event)">
                        <i class="bi bi-plus-circle-fill"></i>

                    </a>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <pre>Active: {{ active+1 }}</pre>


        </div>
    </div>

</div>